.container {
  width: 100%;
  height: 100%;
  padding-bottom: 150px;
  background-color: #EDEAED;
}

.iflex {
  width: 700px;
  display: flex; 
}

.content2 {
    padding-left: 30%
}

.demotitle {
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
}

.demosubtitle {
    padding-bottom: 30px;
    font-size: 16px;
}

.point {
    padding-bottom: 20px;
    font-size: 16px; 
}

.example {
    padding-right: 20px;    
}

.content {
            width: 1200px;
    margin: auto;
      display: flex;
  justify-content: space-between; 
}

.title {
        font-size: 20px;
     font-weight: bold;
    padding-bottom: 15px;
}

.si {
    font-size: 16px;
    padding-bottom: 15px;
    color: #A1A1A1;
}