.container {
  width: 100%;
  height: 100%;
    padding-bottom: 80px;
}
.Idea {
    width: 500px;
    position: relative;
    margin: auto; 
} 
.title1 {
    font-size: 48px;
    font-weight: bold;
    text-align:center
}
.subtitle1 {
    font-size: 16px;
    text-align:center;
    color: #BFBFBF;
}
.demo {
    width: 109px;
    height: 28px;
    margin: 24px 481px 40px 200px;
    padding: 100px px 11px;
    border-radius: 8px;
    background-color: #ff4438;
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #ffffff;
    
}

.img1 {
    margin-left: 50px;
}

.industry {
    width: 800px;
    position: relative;
    margin: auto;
}
.trusted {
    font-size: 16px;
    text-align:center;
    color: #BFBFBF;
}

.logo {
  display: flex;
  justify-content: space-between;
}

.menageoffice {
    width: 800px;
    position: relative;
    margin: auto;
}

.title2 {
       font-size: 48px;
    font-weight: bold;
    text-align:center 
}
.subtitle2 {
        font-size: 16px;
    text-align:center;
}

.menu {
    width: 1200px;
    position: relative;
    margin: auto; 
}

.titlemenu {
    width: 500px;
    font-size: 48px;
    font-weight: bold; 
    padding-bottom: 30px;
}

.subtitlemenu {
    width: 500px;
     padding-bottom: 30px;
    font-size: 16px;
    color: #BFBFBF
   
}

.optiontitle {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 20px;
}

.optioncontent {
    width: 200px;
    padding-bottom: 20px;
    font-size: 16px;
    color: #BFBFBF;
}

.solution {
    width: 1200px;
    
    position: relative;
    margin: auto; 
}

.solutiontitle {
    width: 500px;
     padding-bottom: 30px;
    font-size: 48px;
    font-weight: bold; 
}

.solutionsubtitle {
       width: 500px;
     padding-bottom: 30px;
    font-size: 16px;
    color: #BFBFBF; 
    
}
.containersolution1 {
    width: 500px;
    
}

.yee {
    font-size: 25px;
    padding-bottom: 10px;
}
.subtitle {
    width: 500px;
    font-size: 20px;
    padding-bottom: 10px;
}

.help {
    width: 800px;
    position: relative;
    margin: auto; 
    padding-bottom: 200px;
}

.helptitle {
    
    font-size: 35px;
    font-weight: bold;
    text-align:center
}
.helpsubtitle {
        
    font-size: 15px;
    padding-bottom: 10px;
     text-align:center
}

.containerhelp {
    display: flex;
  justify-content: space-between;
}
.contenthelp {
    width: 200px;
}

.titlehelp {
    border-bottom: 2px;
    border-bottom: solid;
}

.yay {
        font-size: 22px;
    font-weight: bold;
    padding-bottom: 3px;
}

.yey {
    color: #BFBFBF;
    padding-bottom: 15px;
}

.boh {
    font-size: 15px;
    color: #BFBFBF;
    padding-bottom: 20px;
}

.contentsecurity {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  
    
}

.security {
    font-size: 17px;
    color: #1100FF;
}

.titlesecurity {
       font-size: 48px;
    font-weight: bold; 
}

.subtitlesecurity {
            font-size: 22px;
    
}

.contentoffice {
        width: 1200px;
    margin: auto;
      display: flex;
  justify-content: space-between; 
    background-color: #FFCEBF;

}

.titleoffice {
    font-size: 45px;
    padding-top: 50px;
    padding-left: 20px;
    font-weight: bold;
    padding-bottom: 3px; 
}

.subtitleoffice {
    
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 70px;
}

.content {
            width: 1200px;
    margin: auto;
      display: flex;
  justify-content: space-between; 
}

.title {
        font-size: 20px;
     font-weight: bold;
    padding-bottom: 15px;
}

.si {
    font-size: 16px;
    padding-bottom: 15px;
    color: #A1A1A1;
}