.container {
  width: 100%;
  height: 100%;
  padding-bottom: 150px;
  background-color: #EDEAED;

}

.demo {
    width: 109px;
    height: 28px;
    padding: 10px 11px;
    border-radius: 8px;
    background-color: #ff4438;
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #ffffff;
    
}
.contentdelivery {
    width: 1200px;
    margin: auto;
      display: flex;
  justify-content: space-between;
    
}

.delivery {
    font-size: 17px;
    color: #1100FF;
}

.titledelivery {
       font-size: 48px;
    font-weight: bold; 
}

.subtitledelivery {
            font-size: 22px;
    margin-bottom: 60px;
    
}

.titleready {
    padding-bottom: 20px;
    font-size: 48px;
    font-weight: bold;
    text-align:center
}
.subtitleready {
    width: 250px;
    padding-left: 870px;
    font-size: 16px;
    text-align:center;
    color: 	#292629;
}

.contentmenage {
        width: 800px;
    margin: auto;
    padding-bottom: 150px;
      display: flex;
  justify-content: space-between;
}

.textmenage {
    width: 300px;
    padding-top: 15px;
    padding-bottom: 50px;
}
.titlemenage {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
}

.roba {
    padding-left: 200px;
}

.titledigital {
    width: 400px;
    padding-bottom: 20px;
    font-size: 40px;
    font-weight: bold; 
}

.subtitledigital {
    width: 430px;
    padding-bottom: 20px;
    font-size: 16px;
    color: 	#747074;  
}

.iflex {
  width: 700px;
  display: flex;
  justify-content: space-between; 
}

.contentdigital {
    padding-right: 70px;
}
.subexample {
   width: 200px;
   font-size: 16px;
   color: #747074;  
}



.contentintegration {
    width: 100%;
    margin: auto;
    padding: 50px 200px;
    display: flex;
    background-color: #1C1C1C;
}

.textintegration {
    
    padding-right: 200px;
     
}

.integration {
    padding-top: 50px;
    padding-bottom: 15px;
    padding-left: 200px;
    font-size: 17px;
    color: #E32B2B; 
    
}

.titleintegration {
    width: 500px;
    padding-left: 200px;
    padding-bottom: 20px;
    font-size: 35px;
    font-weight: bold; 
    color: 	#FFFFFF; 
}
.subtitleintegration {
    width: 500px;
    padding-left: 200px;
    font-size: 22px;
    color: 	#FFFFFF; 
}

.img {
    width: 300px;
    object-fit: contain;
}

.contentsecurity {
    width: 1200px;
    margin: auto;
      display: flex;
  justify-content: space-between;
    
}

.security {
    font-size: 17px;
    color: #1100FF;
}

.titlesecurity {
       font-size: 48px;
    font-weight: bold; 
}

.subtitlesecurity {
            font-size: 22px;
    
}

.menu {
    width: 1200px;
    position: relative;
    margin: auto; 
}

.titlemenu {
    width: 500px;
    font-size: 48px;
    font-weight: bold; 
    padding-bottom: 30px;
}

.subtitlemenu {
    width: 500px;
     padding-bottom: 30px;
    font-size: 16px;
    color: #BFBFBF
   
}

.option {
    padding-right: 100px;
}

.optiontitle {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 20px;
}

.optioncontent {
    width: 200px;
    padding-bottom: 20px;
    font-size: 16px;
    color: #BFBFBF;
}

.contentoffice {
        width: 1200px;
    margin: auto;
      display: flex;
  justify-content: space-between; 
    background-color: #FFCEBF;

}

.titleoffice {
    font-size: 45px;
    padding-top: 50px;
    padding-left: 20px;
    font-weight: bold;
    padding-bottom: 3px; 
}

.subtitleoffice {
    
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 70px;
}

.content {
            width: 1200px;
    margin: auto;
      display: flex;
  justify-content: space-between; 
}

.title {
        font-size: 20px;
     font-weight: bold;
    padding-bottom: 15px;
}

.si {
    font-size: 16px;
    padding-bottom: 15px;
    color: #A1A1A1;
}